[user]
	name = PeuTit
	email = 22703571+PeuTit@users.noreply.github.com
	signingkey = 75D8EC9768100B92

[includeIf "gitdir:~/Documents/lunatech/"]
  path = .gitconfig_lunatech

[includeIf "gitdir:~/Documents/secret/"]
  path = .gitconfig_crozes-hermitage

[color]
	ui = true

[column]
  ui = auto

[core]
	editor = vim
	excludesfile = ~/.gitignore
  fsmonitor = true
  untrackedCache = true

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[init]
	defaultBranch = main

[commit]
	gpgsign = true
	template = ~/.gitmessage.md
  verbose = true

[gpg]
	program = /usr/local/bin/gpg

[pull]
	rebase = true

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[rebase]
  autoSquash = true
  autoStash = true
  updateRefs = true

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true
  tool = difftastic

[difftool]
  prompt = false

[difftool "difftastic"]
  cmd = difft "$LOCAL" "$REMOTE"

[pager]
  difftool = true

[alias]
  dft = difftool
  dlog = -c diff.external=difft log -p --ext-diff
  dshow = -c diff.external=difft show --ext-diff

[help]
  autocorrect = prompt

[rerere]
  enabled = true
  autoupdate = true

[merge]
  # (just 'diff3' if git version < 2.3)
  conflictstyle = zdiff3
