.DS_Store

.*.swp
nvim/.config/nvim/lazy-lock.json

fish/.config/fish/functions/
fish/.config/fish/themes/
fish/.config/fish/fish_variables/
fish/.config/fish/completions/
fish/.config/fish/conf.d/
fish/.config/fish/fish_variables

emacs/.config/emacs/elpa
emacs/.config/emacs/elpaca
emacs/.config/emacs/projects
emacs/.config/emacs/undo
emacs/.config/emacs/eshell
emacs/.config/emacs/auto-save-list
emacs/.config/emacs/auto-saves
emacs/.config/emacs/projectile-bookmarks.eld
emacs/.config/emacs/backups
emacs/.config/emacs/games
emacs/.config/emacs/bookmarks
emacs/.config/emacs/ido.last
