[user]
	name = Titouan
	email = 22703571+PeuTit@users.noreply.github.com
	signingkey = 75D8EC9768100B92
[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[commit]
	gpgsign = true
	template = /Users/titouan/.gitmessage.md
[gpg]
	program = /usr/local/MacGPG2/bin/gpg2
