[user]
	name = Titouan
	email = 22703571+PeuTit@users.noreply.github.com
	signingkey = E38098F1
[color]
	ui = true
[core]
	editor = vim
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[commit]
	gpgsign = true
[gpg]
	program = gpg2
